* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f8f3;
}

ul{
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.navbar .nav-link {
  color: #000 !important;
}

.navbar {
  background-color: #e4e4e4;
}

.button-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  border-radius: 0rem !important;
  padding: .2rem 1rem;
  font-weight: bolder;
}

.designer a {
  color: #000;
  font-weight: bolder;
}
#pills-tab button{
  color:#000
}
.seccondary-btn button {
  background: transparent;
  border: none;
}
.messaging-area{
  position: relative;
}

.seccondary-btn .active {
  padding: 1rem;
  color: orangered;
  border-left: 1px solid rgba(169, 169, 169, 0.567);
  border-bottom: 2px solid #000;
  font-weight: bolder !important;
}

.bx-copy,
.bx-expand,
.bx-cog {
  font-size: 2rem;
}

.qualifires {
  border-radius: 0rem;
  padding: 0rem;
  min-width: 20rem !important;
}

.qualifires p {
  font-weight: bolder;
}

.qualifires input {
  width: 90%;
  margin: 0 auto;
}

.main-container {
  width: 100vw !important;
}

.messaging-area  ul li{
  margin: 0rem .2rem;
}
.messaging-area ul li img{
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}
.chat-area{
  position: relative;
  overflow-y: scroll !important;
  object-fit: cover;
  height: 70vh;
}
.chat-area .d-flex span{
  font-size: .8rem;
}
.chat-area img{
  width: 3.5rem;
  border-radius: 5px;
  height: 3rem;
  object-fit: cover;
}
.input-area i{
  font-size: 1.5em;
  margin: 0rem .5rem;
}
.tab-content>.tab-pane {
  height: 100vh !important;
}
.list-group li{
  cursor: pointer;
}
.tab-content{
  position: relative;
  overflow-y: scroll !important;
  object-fit: cover;
}

/* Media queries */
@media (max-width: 1000px) {
  .main-container {
    padding: 0 !important;
    width: 90% !important;
  }
  .path-header nav ol li:nth-child(1),
  .path-header nav ol li:nth-child(2) {
    display: none !important;
  }
  .function-container {
    width: 100% !important;
  }
  .function-container h1 {
    display: none;
  }
  .function-container > div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .function-container > div > button,
  .function-container > div > div {
    margin: 1rem auto;
  }
  .designer {
    width: 100% !important;
  }
}

@media (max-width: 800px) {
  .path-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .path-header nav {
    width: 100vw !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .path-header nav ol li:nth-child(1),
  .path-header nav ol li:nth-child(2) {
    display: block !important;
  }
}

@media (max-width: 700px) {
  .editor-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .editor-container div {
    width: 100% !important;
    height: 100%;
    text-align: center;
  }
  .editor-container .col-3 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */
