* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #f1f8f3;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.navbar .nav-link {
    color: #000 !important;
}

.navbar {
    background-color: #e4e4e4;
}

.button-row {
    justify-content: center;
    display: flex;
}

.btn {
    border-radius: 0rem !important;
    padding: .2rem 1rem;
    font-weight: bolder;
}

.designer a {
    color: #000;
    font-weight: bolder;
}


.seccondary-btn button {
    background: transparent;
    border: none;
}

.seccondary-btn .active {
    padding: 1rem;
    color: orangered;
    border-left: 1px solid rgba(169, 169, 169, 0.567);
    border-bottom: 2px solid #000;
    font-weight: bolder !important;
}

.bx-copy,
.bx-expand,
.bx-cog {
    font-size: 2rem;
}

.qualifires {
    border-radius: 0rem;
    padding: 0rem;
    min-width: 20rem !important;
}

.qualifires p {
    font-weight: bolder;
}

.qualifires input {
    width: 90%;
    margin: 0 auto;
}

.main-container {
    width: 100vw !important;
}

/* Media queries */

@media (max-width:1000px) {

    .main-container {
        padding: 0 !important;
        width: 90% !important;

    }

    .path-header nav ol li:nth-child(1),
    .path-header nav ol li:nth-child(2) {
        display: none !important;
    }

    .function-container {
        width: 100% !important;

        h1 {
            display: none;
        }

        >div {
            flex-wrap: wrap;
            align-items: center !important;
            justify-content: center !important;

            >button,
            >div {
                margin: 1rem auto;
            }
        }
    }

    .designer {
        width: 100% !important;
    }





}

@media (max-width:800px) {


    .path-header {
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;

        nav {
            width: 100vw !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }
    }

    .path-header nav ol li:nth-child(1),
    .path-header nav ol li:nth-child(2) {
        display: block !important;
    }
}

@media (max-width:700px) {
    .editor-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        div {
            width: 100% !important;
            height: 100%;
            text-align: center;
            // margin: 1rem auto;


        }

        .col-3 {
            display: none;
        }
    }
}